{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{title}}</title>
  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inspiration&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  <link rel="stylesheet" href="{% static 'css/form.css' %}" />
</head>

<style>
{% block style %}{% endblock style %}
</style>
<body>

  <div class="header" style="
  background: rgb(177, 177, 177) url('https://res.cloudinary.com/kolle1993/image/upload/v1661415743/mc53ycm5sydgvtyfd9cs.png') no-repeat fixed center">
    
    <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
        <div class="container"><a class="navbar-brand" href="#home">Extreme Vocal School</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" href="#team">The 4 Steps</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" href="#services">Services</a>
                    </li>
                    
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" href="#reviews">Testimonial</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" href="#contact">Contact Me</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" href="{% url 'appointment' %}">Make a appointment</a>
                    </li>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" href="{% url 'manage' %}">Manage</a>
                </li>{% endif %}
    
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                    </li>
                    {% endif %}
            </div>
        </div>
    </nav>
{% block cta %}
    <div class="container hero">
        <div class="row">
            <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
                <h1>Exceptional Metalcore / Hardcore Vocal lession's for All Ages.</h1>
                <p> Your journey to becoming
                    the ultimate vocalist
                start's here! </p>
                    <a href="{% url 'appointment' %}" class="btn btn-light btn-lg action-button" type="button">Book an appointment</a>
            </div>

        </div>
    </div>
    {% endblock cta %}
    {% block content %}{% endblock content %} 

  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  
 <script>
    {% block script %}{% endblock script %}
 </script>
</body>

</html>