{% extends 'base.html' %}
{% load static %}


{% block content %}
<section class="container py-5"  style="margin-block:200px; color: white;" id="team">
    <div class="row text-center ">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-4">The 4 Steps</h1>
            <p class="lead">Rely on established and competent professional.
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row text-center">

            <!-- Team item -->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                  <img src="{% static 'img/img1.jpg' %}" alt="image of me" class="mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm step-image">
                    <h5 class="mb-0">Step 1</h5>
                    <span class="small text-uppercase text-muted">Introduction</span>
                </div>
            </div><!-- End -->

            <!-- Team item -->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                  <img src="{% static 'img/img2.jpg' %}" alt="image of me" alt="" class=" mh-100 rounded-circle mb-3 img-thumbnail shadow-sm step-image">
                    <h5 class="mb-0">Step 2</h5>
                    <span class="small text-uppercase text-muted">Making a Vocal Map</span>
                </div>
            </div><!-- End -->

            <!-- Team item -->
            <div class="col-xl-3 col-sm-6 mb-5">
              <div class="bg-white rounded shadow-sm py-5 px-4">
                <img src="{% static 'img/img3.jpg' %}" alt="image of me" alt="" class=" mh-100 rounded-circle mb-3 img-thumbnail shadow-sm step-image">
                  <h5 class="mb-0">Step 3</h5>
                  <span class="small text-uppercase text-muted">Making a Vocal Map</span>
              </div>
          </div><!-- End -->

          <!-- Team item -->
          <div class="col-xl-3 col-sm-6 mb-5">
              <div class="bg-white rounded shadow-sm py-5 px-4">
                <img src="{% static 'img/img4.jpg' %}" alt="image of me" alt="" class=" mh-100 rounded-circle mb-3 img-thumbnail shadow-sm step-image">
                  <h5 class="mb-0">Step 4</h5>
                  <span class="small text-uppercase text-muted">Show off your new skills</span>
              </div>
          </div><!-- End -->
        </div>
    </div>
</section><!-- End -->



<section id="services">
  <div class="bg-primary text-center py-5 mb-4">
      <div class="container">
        <h1 class="fw-light text-white">Services</h1>
        <p class="overview" style="color: white;">I provide compassionate and professional guide to your new vocal range. You are at the center of everything we do.
          For a long time i have mastered the vocal range for heavy metal music and now have the experience to share my love of this and teach more people to do so.
          You will have access to my socal accounts and i will be avalible around the clock to help you in any way you need.
        </p>
      </div>
    </div>
<section class="text-center conatiner" style="margin-block:50px; color: white;" id="reviews">
    <h2>Satisfied Customer</h2>
    <div class="">
      <img src="{% static 'img/img5.jpg' %}" alt="image of me" alt="" class=" mh-100 rounded-circle mb-3 img-thumbnail shadow-sm step-image">
      <p class="testimonial">"The vocal lession's were Red0Nk"</p>
      <p class="overview">S.Lövinger</p>
      
  </div>	
    </div>
      </section>


<section id="contact" class="card m-4 p-4">
    <div class="container">
        <div class="row text-center">
          
            <div class="col-sm-4">
            <div class="contact-detail-box">
              <i class="fab fa-facebook-square fa-3x text-colored"></i>
              <h4>Hit me up on facebook!</h4>
              <a href="https://www.facebook.com/kristoffer.collier/">Click Here</a>
            </div>
          </div><!-- end col -->

          <div class="col-sm-4">
            <div class="contact-detail-box">
              <i class="far fa-envelope text-colored fa-3x"></i>
              <h4>Get In Touch</h4>
              <abbr title="Phone"></abbr> (0046) 735407684<br>
              <a href="kristoffer.collier@live.com" class="text-muted">kristoffer.collier@live.com</a>
            </div>
          </div><!-- end col -->

  
          <div class="col-sm-4">
            <div class="contact-detail-box">
              <i class="fa fa-map-marker fa-3x text-colored"></i>
              <h4>My Location</h4>
  
              <address>
              Järnvägsgatan 8B<br>
              30249, Swedem, Halmstad<br>
            </address>
            </div>
          </div><!-- end col -->
  
  
  
        </div>
        <!-- end row -->
  
  
        <div class="row">
          <div class="col-sm-6">
            <div class="contact-map">
              <iframe src="https://maps.google.com/maps?q=j%C3%A4rnv%C3%A4gsgatan%208b&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="width: 200%; height: 360px;"></iframe>
            </div>
          </div>
          <!-- end col -->
            
      </div>
</section>


{% endblock content %}